@page "/demohotel"
@using Model
<h3>We will display hotel rooms and amenities here!</h3>
<div class="border p-2 mt-2" style="background-color: azure">
    <h2 class="text-info">Room List [USING COMPONENT</h2>
    <div class="row container">
        <div class="col-12">
            <h4 class="text-info">Hotel Rooms</h4>
        </div>
        @foreach (var room in RoomsList)
        {
            <IndividualRoom Room="@room"></IndividualRoom>
        }
        <div class="col-12 mt-4">
            <h4 class="text-info">Hotel Amenities [assignment]</h4>
        </div>
        @foreach (var amenity in AmenitiesList)
        {
           <IndividualAmenities Amenities="@amenity"></IndividualAmenities>
        }
    </div>
</div>

@code
{

    List<BlazorRoom> RoomsList = new List<BlazorRoom>();
    List<BlazorAmenities> AmenitiesList = new List<BlazorAmenities>();
    BlazorRoom _room = new BlazorRoom()
    {
        Id = 1,
        RoomName = "Villa Suite",
        IsActive = true,
        Price = 499,
        RoomProps = new List<Model.BlazorRoomProp>
{
            new Model.BlazorRoomProp(){Id=1,Name="Sq Ft",Value="100"},
            new Model.BlazorRoomProp(){Id=2,Name="Occupancy",Value="3"}
        }

    };



    protected override void OnInitialized()
    {
        base.OnInitialized();
        RoomsList.Add(_room);

        AmenitiesList.Add(new BlazorAmenities()
        {
            Id=111,
            Name="Gym",
            Description = "Work out at the Gym."
        });

        AmenitiesList.Add(new BlazorAmenities()
        {
            Id = 112,
            Name = "Swimming Pool",
            Description = "The pool is open from 6am to 10pm."
        });

        AmenitiesList.Add(new BlazorAmenities()
        {
            Id = 113,
            Name = "Free Breakfast",
            Description = "Enjoy free breakfast at our hotel."
        });


        RoomsList.Add(new BlazorRoom()
        {
            Id = 2,
            RoomName = "Villa Luxury",
            IsActive = true,
            Price = 599,
            RoomProps = new List<Model.BlazorRoomProp>
    {
                new Model.BlazorRoomProp() {Id = 1, Name = "Sq Ft", Value = "500"},
                new Model.BlazorRoomProp() {Id = 2, Name = "Occupancy", Value = "4"}
            }

        });


        RoomsList.Add(new BlazorRoom()
        {
            Id = 3,
            RoomName = "Villa Penthouse",
            IsActive = true,
            Price = 999,
            RoomProps = new List<Model.BlazorRoomProp>
    {
                new Model.BlazorRoomProp() {Id = 1, Name = "Sq Ft", Value = "1500"},
                new Model.BlazorRoomProp() {Id = 2, Name = "Occupancy", Value = "8"}
            }

        });

    }

}
